xterm*termName: xterm-256
xterm*locale: true
xterm*colorMode: on
xterm*faceName: DejaVu Sans Mono:style=book :antialias=false 
xterm*faceSize: 11
xterm*borderWidth: 0
! double-click to select whole URLs
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! foreground is the general color
xterm*foreground: rgb:ff/ac/30
! background currently set to black
xterm*background: rgb:00/00/00
xterm*color0: rgb:00/00/00
xterm*color1: rgb:ff/00/00
xterm*color2: rgb:ae/ce/91
xterm*color3: rgb:e7/e1/8c
xterm*color4: rgb:7a/7a/b0
xterm*color5: rgb:96/3c/59
xterm*color6: rgb:00/a8/a8
xterm*color7: rgb:be/be/be
xterm*color8: rgb:66/66/66
xterm*color9: rgb:ef/81/71
xterm*color10: rgb:ef/f7/79
xterm*color11: rgb:ff/f7/99
xterm*color12: rgb:41/86/be
xterm*color13: rgb:ef/9e/be
xterm*color14: rgb:71/be/be
xterm*color15: rgb:ff/ff/ff
